{
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["config/**/*.json*"],
      "options": {
        "singleQuote": false,
        "quoteProps": "preserve"
      }
    }
  ]
}
